.Shelters {
  padding-top: 15vh;
  background: #f7f7f7;
  // color: #fff;
  min-height: 100vh;

  h1 {
    font-weight: 300;
    padding-left: 5vw;
    font-weight: 400;

    span {
      font-weight: 400;
      color: #0197ef;
    }
  }
}
