.Landing {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(https://images.unsplash.com/photo-1496982411516-bfb7eb1c74e1?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=609100086da8124d588ef6f3eac4c43b&auto=format&fit=crop&w=1350&q=80)
      no-repeat center center / cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #fff;
    font-weight: 400;
    font-size: 4em;
    margin-bottom: 1vh;
  }

  h3 {
    width: 70%;
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 2em;
  }

  .landingForm {
    display: flex;

    input[type="text"] {
      width: 300px;
      text-align: center;
      padding: 0.5vh 1.2vw;
    }

    a {
      margin-left: 2vw;
    }
  }

  h4 {
    color: #fff;
    margin-top: 3vh;
    font-weight: 300;
  }
}
